.container-product {
    float: left;
    width: 20%;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 10px;
    box-shadow: 1px 1px 6px #d5d5d559;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition:  0.3s ease;
    cursor: pointer;
}

.container-product:hover {
    transform: scale(1.05);
}

.container-product > div {
    float: left;
    width: 100%;
}

.container-product img{
    width: 100%;
}
