.cart-button {
    display: flex;
    padding-bottom: 7px;
}

.cart-button button {
    border: none;
    background-color: rgb(63, 81, 181);
    cursor: pointer;
}

.cart-button button:hover {
    background-color: rgba(31, 46, 129, 0.322);
    cursor: crosshair;
}