@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

Link {
  text-decoration: none;
}

.logoContainer {
  display: flex;
}

.logoContainer img {
  width: 30%;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-img {
    animation: logo-img-spin infinite 10s linear;
  }
}

@keyframes logo-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-buttons {
  list-style: none;
  display: flex;
  margin: auto;
}

.nav-buttons .btn-nav {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

.btn-nav:focus,
.btn-nav:active {
  outline: none;
  box-shadow: none;
}
