.cart-card {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;;
}

.card-header img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    padding: auto;
}