.counter-text {
  padding: 10px;
}

.flex-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 70%;
}

.flex-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
